body{
    margin: 0px;
    padding: 0%;
    background-color: rgb(208 233 233);
}
.navbar{
    background-color: rgb(208 233 233);
    display: flex;
    width: 100vw;
    padding: 1%;
    font-size: 1.6vw;
    box-sizing: border-box;
    position: sticky;
    top: 0%;
    left: 0%;
    right: 0%;
    margin-bottom: 2px;
}
#name{
    /* border: 2px solid red; */
    color: #f23535;
    font-size: 2vw;
    font-weight: bolder;
    display: flex;
    margin-left: 5%;
    width: 35%;
    justify-content: center;    
}
.links{
    width: 100%;
    margin-left: 10%;
    display: flex;
    justify-content: end;
}
.links a{
    margin: 0% 1%;
    padding: 0.3rem;
    display: inline-flex;
    text-decoration: none;
    border-radius: 0.5rem;
    color: aliceblue;
    margin-right: 5%;
    width: fit-content;
    /* border: 2px solid rebeccapurple; */
    background-color: #f23535;
}
#home{
    font-size: 2rem;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 80vh;
    /* border: 6px solid black; */
}
.content{
    display: flex;
    flex-direction: column;
    /* border: 2px solid rebeccapurple; */
    float: right;
    text-align: left;
    align-items: center;
    width: 270vw;
    justify-content: center;
    background-color: #b0dfcf;
}
.hello{
    background-color: #b0dfcf;
}
.content a{
    text-decoration: none;
    margin-top: 1rem;
    color: aliceblue;
    background-color:#f23535;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    align-items: center;
}
.image{
    justify-content: center;
    align-items: end;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    width: 190vw;
    background-color: #b0dfcf;
}
.image img{
    height: 32vw;
    width: 32vw;
    background-color: #b0dfcf;
}
.heading{
    margin: 2rem;
    font-size: 2.1rem;
    text-align: center;
}
.subheading{
    margin: 1rem;
    font-size: 2rem;
    text-align: center;
}
#projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: antiquewhite;
    /* height: 50vh; */
    align-items: center;
}
.pro{
    margin: 1.5vw;
    display: flex;
    width: 25%;
    height: 40vh;
    border: 2px solid red;
}
/* #projects img:nth-of-type(1){
    width: 60%;
    height: 50%;
    opacity: 0.5;
    z-index: -0.1;
} */
.pro:nth-of-type(1)::after{
    content: " ";
    background-image: url('download.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-attachment: local;
    opacity: 2;
    top: 118%;
    left: 6%;
    right: 70%;
    bottom: -59%;
    z-index: 2;
}
.pro:nth-of-type(2){
    background-image: url('download (1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.pro:nth-of-type(3){
    background-image: url('download (2).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.pro:nth-of-type(4){
    background-image: url('download (3).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.pro:nth-of-type(5){
    background-image: url('images.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.pro:nth-of-type(6){
    background-image: url('images\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.skillcontainer{
    display: grid;
    grid-template-areas: 
    'one one one two two'
    'three four four four five'
    'six six six six five'
    ;
    grid-template-columns: 30% 10% 10% 10% 40%;
    grid-template-rows: 40vh 30vh 40vh;
}
.sklls{
    background-color: aqua;
    margin: 0.4rem;
    /* border: 2px solid black; */
    display: flex;
    border-radius: 1rem;
    padding: 0.4rem;
    align-items: center;
    justify-content: center;
}
.sklls:nth-of-type(1){
    grid-area: one;
}

.sklls:nth-of-type(2){
    grid-area: two;
}
.sklls:nth-of-type(3){
    grid-area: three;
}
.sklls:nth-of-type(4){
    grid-area: four;
}
.sklls:nth-of-type(5){
    grid-area: five;
}
.sklls:nth-of-type(6){
    grid-area: six;
}

.connectform{
    display: flex;
    /* padding: auto; */
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
input{
    text-align: center;
    height: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 0.8rem;
    width: 30vw;
}
textarea{
    font-size: 1rem;
    width: 30vw;
    border-radius: 0.8rem;
}
select{
    width: 20vw;
    height: 2rem;
}
footer{
    display: flex;
    width: 100vw;
    margin-top: 5rem;
    background-color: gray;
    padding-bottom: 2rem;
    padding-top: 1.2rem;
}
.footerleft{
    background-color: gray;
    margin: 0 10rem 0 10rem ;
    font-size: 1.3rem;
    padding-right: 20rem;
    border-right: 5px solid blanchedalmond;
    width: 50%;
}
.footerright{
    background-color: gray;
    margin: 0 10rem 0 0;
    align-items: flex-end;
    font-size: 1.3rem;
    width: 50%;
}
.fa-brands{
    background-color: gray;
}

@media screen and (max-width: 1020px) {
    footer{
        /* width: 80vws; */
    }
    .footerleft{
        /* font-size: 0.2rem; */
        margin-left: 2.1vw;
        margin-right: 2.1vw;
        padding-right: 1rem;
    }
    .footerright{
        /* font-size: 0.2rem; */
        margin: 0px;
        margin-left: 1.1rem;

    }
    
}
